<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="zeus" type="Zeus.Configuration.ZeusSectionGroup, Zeus">
      <section name="admin" type="Zeus.Configuration.AdminSection, Zeus" requirePermission="false" />
			<section name="host" type="Zeus.Configuration.HostSection, Zeus" requirePermission="false" />
			<section name="database" type="Zeus.Configuration.DatabaseSection, Zeus" requirePermission="false" />
      <section name="globalization" type="Zeus.Configuration.GlobalizationSection, Zeus" requirePermission="false" />
      <section name="dynamicContent" type="Zeus.Configuration.DynamicContentSection, Zeus" requirePermission="false" />
		</sectionGroup>
    <section name="spark" type="Spark.Configuration.SparkSectionHandler, Spark" />
	</configSections>
	<connectionStrings>
		<add name="Zeus" connectionString="Server=.\SQL2014;Database=ZeusExample;Integrated Security=True" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.4000" newVersion="2.0.1.4000" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.1" newVersion="3.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FluentMigrator" publicKeyToken="aacfc7de5acabf05" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<spark>
		<views>
			<add name="TestTemplates" folderType="EmbeddedResource" assembly="Zeus.Tests" resourcePath="Zeus.Tests.Web.TextTemplating.Templates" />
		</views>
	</spark>
	<zeus>
    <admin name="Zeus Tests" path="admin">
      <authorizedRoles>
        <add role="Administrators" />
      </authorizedRoles>
      <installer checkInstallationStatus="false" mode="Normal" />
      <recycleBin enabled="false" />
      <tree tooltipsEnabled="false" />
    </admin>
		<dynamicContent>
			<controls>
				<add name="DynamicPageProperty" type="Zeus.DynamicControls.DynamicPageProperty, Zeus" />
			</controls>
		</dynamicContent>
    <host rootItemID="1">
      <sites>
        <clear />
        <site id="DefaultSite" startPageID="4" description="Default Site">
          <siteHosts>
            <add name="*" />
          </siteHosts>
        </site>
      </sites>
      <web extension="" rewrite="None" />
    </host>
		<database connectionStringName="Zeus" cacheEnabled="true" cacheProviderClass="NHibernate.Caches.SysCache2.SysCacheProvider, NHibernate.Caches.SysCache2" />
    <globalization enabled="false" useBrowserLanguagePreferences="false" />
	</zeus>
</configuration>
