<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="zeus" type="Zeus.Configuration.ZeusSectionGroup, Zeus">
			<section name="host" type="Zeus.Configuration.HostSection, Zeus" requirePermission="false" />
			<section name="database" type="Zeus.Configuration.DatabaseSection, Zeus" requirePermission="false" />
		</sectionGroup>
		<section name="spark" type="Spark.Configuration.SparkSectionHandler, Spark"/>
	</configSections>
	<connectionStrings>
		<add name="Zeus" connectionString="Server=.\SQLEXPRESS2008;Database=ZeusExamples;Integrated Security=True" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.4000" newVersion="2.0.1.4000"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<spark>
		<views>
			<add name="TestTemplates" folderType="EmbeddedResource" assembly="Zeus.Tests" resourcePath="Zeus.Tests.Web.TextTemplating.Templates"/>
		</views>
	</spark>
	<zeus>
		<dynamicContent>
			<controls>
				<add name="DynamicPageProperty" type="Zeus.DynamicControls.DynamicPageProperty, Zeus" />
			</controls>
		</dynamicContent>
		<host rootItemID="1" />
		<database connectionStringName="Zeus" cacheEnabled="true" cacheProviderClass="NHibernate.Caches.SysCache2.SysCacheProvider, NHibernate.Caches.SysCache2" />
	</zeus>
</configuration>
