<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicImage" version="2.0.2" requireReinstallation="true" />
  <package id="Ext.NET" version="1.3.0" targetFramework="net40" />
  <package id="Ext.NET.Utilities" version="1.3.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.0.8" targetFramework="net40" />
  <package id="Ninject" version="2.2.1.4" requireReinstallation="true" />
</packages>