<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.3999" newVersion="2.0.1.4000"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <expressionBuilders>
        <add expressionPrefix="CurrentPage" type="Zeus.Web.Compilation.CurrentPageExpressionBuilder, Zeus"/>
        <add expressionPrefix="Code" type="Zeus.Web.Compilation.CodeExpressionBuilder, Zeus"/>
      </expressionBuilders>
    </compilation>
    <customErrors mode="Off"/>
    <globalization culture="en-GB"/>
    <httpRuntime maxRequestLength="10240"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="zeus" namespace="Zeus.Web.UI.WebControls" assembly="Zeus"/>
      </controls>
      <namespaces>
        <add namespace="System.Linq"/>
      </namespaces>
    </pages>
  </system.web>
</configuration>