<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<components>
		<component id="zeus.urlParser"  service="Zeus.Web.IUrlParser, Zeus"  type="Zeus.Web.UrlParser, Zeus"/>
		<component id="zeus.webContext" service="Zeus.Web.IWebContext, Zeus" type="Zeus.Web.WebRequestContext, Zeus"/>
	</components>
</castle>