<?xml version="1.0"?>
<configuration>
	<system.web>
		<authorization>
			<allow users="administrator,editor" roles="Administrator,Editor"/>
			<deny users="*"/>
		</authorization>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="zeus" assembly="Zeus" namespace="Zeus.Web.UI.WebControls"/>
			</controls>
		</pages>
	</system.web>
</configuration>
