<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<components>
		<component id="zeus.navigator" service="Zeus.Admin.Navigator, Zeus" type="Zeus.Admin.Navigator, Zeus"/>
		<component id="zeus.treeSorter" service="Zeus.Admin.ITreeSorter, Zeus" type="Zeus.Admin.TreeSorter, Zeus"/>
	</components>
</castle>