<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="spark" type="Spark.Configuration.SparkSectionHandler, Spark"/>
	</configSections>
	<spark>
		<pages pageBaseType="Spark.Web.Mvc.SparkView" />
		<views>
			<add name="TestTemplates" folderType="EmbeddedResource" assembly="Zeus.Web.TextTemplating.Tests"
					 resourcePath="Zeus.Web.TextTemplating.Tests.Templates" />
		</views>
	</spark>
</configuration>