<?xml version="1.0" encoding="utf-8" ?>
<dynamicImage>
	<caching mode="Custom" customProvider="LinqDynamicImagesCachingProvider">
		<providers>
			<add name="LinqDynamicImagesCachingProvider" type="SoundInTheory.DynamicImage.Caching.LinqDynamicImageCacheProvider" connectionStringName="Zeus" />
		</providers>
	</caching>
	<templates>
		<add name="Button" imageFormat="Png">
			<layers>
				<add name="Background" type="SoundInTheory.DynamicImage.RectangleShapeLayer" fill-backgroundColour="#7D7D7D" roundness="4" />
				<add name="Text" type="SoundInTheory.DynamicImage.TextLayer" font-Name="Franklin Gothic Medium" font-Size="10.5" foreColour="White"
						 textAlignment="MiddleCenter" height="22"
						 padding-left="15" padding-right="15"
						 textQuality="ClearTypeGridFit" clearTypeBackColour="#7D7D7D" />
			</layers>
		</add>
		<add name="WhiteButton" imageFormat="Png">
			<layers>
				<add name="Background" type="SoundInTheory.DynamicImage.RectangleShapeLayer" fill-backgroundColour="#FFFFFF" roundness="4" strokeFill-backgroundColour="#B6B6B6" strokeWidth="2" />
				<add name="Text" type="SoundInTheory.DynamicImage.TextLayer" font-Name="Franklin Gothic Medium" font-Size="10.5" foreColour="#7D7D7D"
						 textAlignment="MiddleCenter" height="22"
						 padding-left="15" padding-right="15"
						 textQuality="ClearTypeGridFit" clearTypeBackColour="#FFFFFF" />
			</layers>
		</add>
		<add name="FixedWidthButton" imageFormat="Png">
			<layers>
				<add name="Background" type="SoundInTheory.DynamicImage.RectangleShapeLayer" fill-backgroundColour="#7D7D7D" roundness="4" />
				<add name="Text" type="SoundInTheory.DynamicImage.TextLayer" font-Name="Franklin Gothic Medium" font-Size="10.5" foreColour="White"
						 textAlignment="MiddleCenter" height="22"
						 padding-left="15" padding-right="15"
						 textQuality="ClearTypeGridFit" clearTypeBackColour="#7D7D7D"
						 width="130" />
			</layers>
		</add>
		<add name="FixedWidthWhiteButton" imageFormat="Png">
			<layers>
				<add name="Background" type="SoundInTheory.DynamicImage.RectangleShapeLayer" fill-backgroundColour="#FFFFFF" roundness="4" strokeFill-backgroundColour="#B6B6B6" strokeWidth="2" />
				<add name="Text" type="SoundInTheory.DynamicImage.TextLayer" font-Name="Franklin Gothic Medium" font-Size="10.5" foreColour="#7D7D7D"
						 textAlignment="MiddleCenter" height="22"
						 padding-left="15" padding-right="15"
						 textQuality="ClearTypeGridFit" clearTypeBackColour="#FFFFFF"
						 width="130" />
			</layers>
		</add>
	</templates>
</dynamicImage>