<?xml version="1.0" encoding="utf-8" ?>
<paymentProcessing defaultProvider="FacPaymentProvider">
	<providers>
		<add name="FacPaymentProvider" type="SoundInTheory.PaymentProcessing.Providers.FirstAtlanticCommerce.FacPaymentProvider"
		 webServiceUrl="https://ecm.firstatlanticcommerce.com/FACPG/FACPGWS.asmx"
		 acquirerID="464748" merchantID="88800055" merchantPassword="Zk5G6md2" testMode="false" />
	</providers>
</paymentProcessing>