html, body {
        margin:0;
        padding:0;
        border:0 none;
        overflow:hidden;
        height:100%;
}

/* no js */

#js {
	text-align: center;
	background: #d6dcc5;
	padding: 10px 10px;
	border-bottom: 2px dashed #003d02;
}

#js p {
	font-size: 13px;
	color: #003d02;
}

#js p a {
	color: #3d241b;
	font-weight: bold;
}

/* splitter and frames */

form {
	margin: 0;
	padding: 0;
}

/************************* header *********************/

#header {
	background:transparent url(<%= WebResource("Zeus.Admin.Assets.Images.Theme.bannerBg.gif") %>) repeat-x scroll left top;
	height:54px;
}

#headerRight {
	height: 54px;
	float: right;
	width: 395px;
}

#header img {
	display:block;
	float:left;
	height:39px;
	margin:8px 0 0 10px;
	width:38px;
}

#header p {
	font-family: arial;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0px;
}

#header p span {
	font-size: 16px;
	font-weight: bold;
}

#header #logOut {
	display: block;
	float: right;
	width: 99px;
	height: 29px;
	background: url(<%= WebResource("Zeus.Admin.Assets.Images.Theme.logOut.gif") %>) top left no-repeat;
	text-indent: -9999px;
	margin: 13px 10px 0px 0px; 
}

#header #loggedAs {
	margin: 20px 10px 0 0;
	display: block;
	float: right;
	text-align: right;
	width: 272px;
}

#header #logOut:hover {
	background: url('<%= WebResource("Zeus.Admin.Assets.Images.Theme.logOut.gif") %>') bottom left no-repeat;
}

#header #title {
	float: left;
	display: block;
	width: 322px;
	margin: 20px 0 0 16px;
}

/* toolbar */

#toolbar
{
    display: none;
	border-bottom: solid 5px #CECECE;
	background-color: #f1f2f2;
	/*padding: 2px;
	height: 25px;*/
}

#toolbar input, #toolbar a
{
	display: block;
	float: left;
	background-color: #f1f2f2;
	color: #808285;
	border: solid 1px #808285;
	font-size: 12px;
	padding: 3px;
	margin-right: 3px;
}

#toolbar .separator
{
	display: block;
	float: left;
	width: 1px;
	background-color: #808285;
	margin-left: 10px;
	margin-right: 10px;
	height: 100%;
}