div.editDetail
{
	margin-bottom: 15px;
}

.editorLabel {
	width: 150px;
	float: left;
	text-align: right;
	display: block;
	margin: 0 15px 0 0;
	font-size: 14px;
	color: #808285;
}

input[type="text"], textarea, select
{
	vertical-align: text-bottom;
	border: solid 1px #999;
	width: 500px;
	color: #808285;
	padding: 3px;
}

input[type="text"], textarea
{
	font-size: 13px;
	background: #FFF url(../images/edit/inputGradient.png) repeat-x top left;
}

textarea
{
	height: 100px;
}

img.image
{
	clear: both;
	margin-left: 165px;
	margin-top: 5px;
}

span.clearFile input
{
	margin-top: 5px;
	margin-left: 165px;
}

div.validationSummary {
	border: 1px dashed #FF0000;
	padding: 10px;
	background-color: #FDE1E2;
}

input[type="text"].required, textarea.required, select.required {
	border: 1px solid #E6ACAC;
}

.checkBoxList {
	display: block;
	float: left;
}

.checkBoxList input[type="checkbox"] {
	margin-right: 3px;
}