div.editDetail
{
	margin-top: 15px;
	clear: both;
}

.editorLabel {
	width: 150px;
	float: left;
	text-align: right;
	display: block;
	margin: 0 15px 0 0;
	font-size: 14px;
	color: #808285;
}

input[type="text"], textarea, div.editDetail > select
{
	vertical-align: text-bottom;
	border: solid 1px #999;
	width: 500px;
	color: #808285;
	padding: 3px;
}

input[type="text"], textarea
{
	font-size: 13px;
	background: #FFF url(../images/edit/inputGradient.png) repeat-x top left;
}

textarea
{
	height: 100px;
}

img.image
{
	clear: both;
	margin-left: 165px;
	margin-top: 5px;
}

span.clearFile input
{
	margin-top: 5px;
	margin-left: 165px;
	margin-right: 3px;
}

span.fileName img
{
	margin-top: 5px;
}

span.fileName
{
	clear: both;
	margin-left: 165px;
}

div.validationSummary {
	border: 1px dashed #FF0000;
	padding: 10px;
	background-color: #FDE1E2;
}

input[type="text"].required, textarea.required, select.required {
	border: 1px solid #E6ACAC;
}

.checkBoxList, .linkedItemList {
	display: block;
	float: left;
}

.checkBoxList input[type="checkbox"] {
	margin-right: 3px;
}

fieldset
{
	background: #FFF url(../images/edit/fieldsetGradient.png) repeat-x bottom left;
	border: solid 1px #CECECE;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

fieldset legend
{
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	font-size: 14px;
	color: #808285;
}

.add 
{
	margin-left: 5px;
}

.delete
{
	float: right;
	margin-left: 5px;
}

.deleted
{
	display: none;
}

.colorpicker input[type="text"] {
	background: none;
	vertical-align: inherit;
	width: auto;
}

.description
{
	float: left;
	margin-left: 165px;
	color: #808285;
	font-size: 10px;
}

a
{
	text-decoration: underline;
}

span.nameLabel
{
	font-size: 14px;
	color: #808285;
	display: block;
	float: left;
}

span.edit {
	width: 48px;
	padding: 0;
}

span.edit a {
	display: block;
	height: 23px;
	width: 54px;
	text-indent: -99999px;
	clear:both;
	float:left;
	margin-top: 3px;
	margin-bottom:15px;
	margin-left:165px;
}

span.edit a {
	background: url('../images/view/edit.gif') top left no-repeat;
}

span.edit a:hover {
	background-position: bottom left;
}