label {
	width: 150px;
	float: left;
	text-align: right;
	display: block;
	margin: 0 15px 0 0;
	padding-top: 3px;
	font-size: 14px;
	color: #808285;
}

input[type="text"]
{
	vertical-align: text-bottom;
	border: solid 1px #999;
	background: #FFF url(../images/edit/inputGradient.png) repeat-x top left;
	width: 500px;
	font-size: 13px;
	color: #808285;
	padding: 3px;
}

.editDetail
{
	margin-bottom: 15px;
}