table.tb {
	margin: 0 0 10px 0;
}

table.tb th  {
	color: #fff;
	padding: 5px;
	font-size: 14px;
	background-color: #C9C9C9;
}

table.tb th.data {
	background: #C9C9C9 url(<%= WebResource("Zeus.Admin.Assets.Images.View.arrowSortable.gif") %>) no-repeat 2px 3px;
	padding-left: 16px;
}

table.tb th:hover {
	background-color: #b7b7b7;
}

table.tb td:hover {
	background-color: #e2e2e2;
}

table.tb tr > th.asc
{
	/* override the sorting icon */
	background: #C9C9C9 url(<%= WebResource("Zeus.Admin.Assets.Images.View.arrowUp.gif") %>) no-repeat 2px 3px;
}
table.tb tr > th.desc
{
	/* override the sorting icon */
	background: #C9C9C9 url(<%= WebResource("Zeus.Admin.Assets.Images.View.arrowDown.gif") %>) no-repeat 2px 3px;
}

table.tb td {
	background-color: #f1f2f2;
	font-size: 11px;
	color: #808285;
	vertical-align: middle;
	padding: 5px;
}

table.tb td.sort {
	background-color: #E6E8E8;
}

table.tb td, table.tb th {
	border: 1px solid #fff;
	vertical-align: center;
	padding: 5px;
}

table.tb .check {
	width: 23px;
	text-align: center;
}

table.tb .edit, .add {
	width: 48px;
	padding: 0;
}

table.tb .edit a, .add a {
	display: block;
	height: 23px;
	width: 54px;
	text-indent: -99999px;
}

table.tb .edit a {
	background: url(<%= WebResource("Zeus.Admin.Assets.Images.View.edit.gif") %>) top left no-repeat;
}

.add a {
	background: url(<%= WebResource("Zeus.Admin.Assets.Images.View.add.gif") %>) top left no-repeat;
}

table.tb .edit a:hover, .add a:hover {
	background-position: bottom left;
}

/* Delete buttons */

.delete {
	font-size: 14px;
	display: block;
	height: 22px;
	color: #a7a9ac;
	background: url(<%= WebResource("Zeus.Admin.Assets.Images.View.trash.gif") %>) bottom left no-repeat;
	padding: 7px 0 0px 20px;
	line-height: 25px;
	float: left;
	position: relative;
	bottom: 8px;
	font-weight: bold;
	
}
.deleteOn {
	font-size: 14px;
	display: block;
	height: 22px;
	color: #a7a9ac;
	background: url(<%= WebResource("Zeus.Admin.Assets.Images.View.trashOpen.gif") %>) bottom left no-repeat;
	padding: 7px 0 0px 20px;
	line-height: 25px;
	float: left;
	position: relative;
	bottom: 8px;
	font-weight: bold;
}

.delete:hover {
	background: url(<%= WebResource("Zeus.Admin.Assets.Images.View.trashOpen.gif") %>) bottom left no-repeat;
	color: #8b8c8d;
}

.confirm {
	display: block;
	background: url(<%= WebResource("Zeus.Admin.Assets.Images.View.confirm.gif") %>) top left no-repeat;
	height: 12px;
	width: 48px;
	float: left;
	text-indent: -9999px;
	margin: 5px 0 0 10px;
}

.cancel {
	display: block;
	background: url(<%= WebResource("Zeus.Admin.Assets.Images.View.cancel.gif") %>) top left no-repeat;
	height: 12px;
	width: 46px;
	float: left;
	text-indent: -9999px;
	margin: 5px 0 0 3px;
}

.cancel:hover, .confirm:hover {
	background-position: left bottom;
}

/* Page numbers*/	

.gridToolbar
{
	/*background: #f1f2f2;
	padding: 2px;
	height: 20px;*/
}

.pageNo {
	float: right;
	width: 300px;
	text-align: right;
}

.pageNo select, .pageNo input[type="text"] {
	color: #a7a9ac;
}

.pageNo span {
	font-size: 12px;
	font-weight: bold;
	display: inline;
	color: #a7a9ac;
}

.pageNo input[type="image"] {
	padding: 3px;
	border: solid 1px #a7a9ac;
	vertical-align: text-bottom;
}

.divide {
	height: 1px;
	background: #aeaeae;
	clear: both;
	margin: 0 0 10px 0;
}