body {
	text-align: center;
}

#blog, #page {
	text-align: left;
}

#main {
	width: 450px;
	padding-right: 10px;
	overflow: hidden;
}

ul#nav a {
	padding: 6px 15px 5px 15px;
}

.meta span {
	background: #474F57;
}

.meta span.tags {
	background: #474F57;
}

.meta span.comments {
	background: #474F57;
}

.meta span.author {
	background: #474F57;
}

.meta span.trackback {
	background: #474F57;
}

.meta span.delicious {
	background: #474F57;
}

.comment_area ol div.body {
	margin: 0 0 0 0;	
	width: 400px;	
	padding: 10px;
	overflow: hidden;
}

#side {
	padding-left: 10px;
	width: 150px;
	overflow: hidden;
}
