<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<components>
		<component id="zeus.configurationBuilder" service="Zeus.Persistence.IConfigurationBuilder, Zeus" type="Zeus.Persistence.ConfigurationBuilder, Zeus"/>
		<component id="zeus.sessionProvider"      service="Zeus.Persistence.ISessionProvider, Zeus" type="Zeus.Persistence.SessionProvider, Zeus"/>
		<component id="zeus.persister"            service="Zeus.Persistence.IPersister, Zeus" type="Zeus.Persistence.ContentPersister, Zeus"/>
	</components>
</castle>