<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<components>
		<component id="zeus.configurationBuilder" service="Zeus.Persistence.IConfigurationBuilder, Zeus" type="Zeus.Persistence.ConfigurationBuilder, Zeus"/>
		<component id="zeus.itemNotifier"         service="Zeus.Persistence.IItemNotifier, Zeus" type="Zeus.Persistence.ItemNotifier, Zeus"/>
		<component id="zeus.interceptor"          service="NHibernate.IInterceptor, NHibernate" type="Zeus.Persistence.NotifyingInterceptor, Zeus"/>
		<component id="zeus.sessionProvider"      service="Zeus.Persistence.ISessionProvider, Zeus" type="Zeus.Persistence.SessionProvider, Zeus"/>
		<component id="zeus.repository"           service="Zeus.Persistence.IRepository`2, Zeus" type="Zeus.Persistence.Repository`2, Zeus"/>
		<component id="zeus.persister"            service="Zeus.Persistence.IPersister, Zeus" type="Zeus.Persistence.ContentPersister, Zeus"/>
	</components>
</castle>