<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argotic.Common" version="2008.0.2.0" />
  <package id="Argotic.Core" version="2008.0.2.0" />
  <package id="Argotic.Extensions" version="2008.0.2.0" />
  <package id="DynamicImage" version="2.0.2" />
  <package id="Ext.NET" version="1.2.0" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="NHibernate" version="3.3.1.4000" targetFramework="net40" />
  <package id="NHibernate.Linq" version="1.0" targetFramework="net40" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="Spark" version="1.6" />
  <package id="Spark.Web.Mvc3" version="1.6" targetFramework="net40" />
  <package id="WebActivator" version="1.4.4" />
</packages>