<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoundInTheory.PaymentProcessing.Processors.FirstAtlanticCommerce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SoundInTheory.PaymentProcessing.Processors.FirstAtlanticCommerce.Properties.Settings>
            <setting name="SoundInTheory_PaymentProcessing_Processors_FirstAtlanticCommerce_FacWebServices_FACPGWS"
                serializeAs="String">
                <value>https://marlin.firstatlanticcommerce.com/FACPG/FACPGWS.asmx</value>
            </setting>
        </SoundInTheory.PaymentProcessing.Processors.FirstAtlanticCommerce.Properties.Settings>
    </applicationSettings>
</configuration>