<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="zeus" type="Zeus.Configuration.ZeusSectionGroup, Zeus">
      <section name="admin" type="Zeus.Configuration.AdminSection, Zeus" requirePermission="false"/>
      <section name="contentTypes" type="Zeus.Configuration.ContentTypesSection, Zeus" requirePermission="false"/>
      <section name="customUrls" type="Zeus.Configuration.CustomUrlsSection, Zeus" requirePermission="false"/>
      <section name="database" type="Zeus.Configuration.DatabaseSection, Zeus" requirePermission="false"/>
      <section name="globalization" type="Zeus.Configuration.GlobalizationSection, Zeus" requirePermission="false"/>
      <section name="host" type="Zeus.Configuration.HostSection, Zeus" requirePermission="false"/>
      <section name="templates" type="Zeus.Templates.Configuration.TemplatesSection, Zeus.Templates, Version=0.4.*, Culture=neutral" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="soundInTheory">
      <section name="dynamicImage" type="SoundInTheory.DynamicImage.Configuration.DynamicImageSection"/>
    </sectionGroup>
    <section name="spark" type="Spark.Configuration.SparkSectionHandler, Spark"/>
  </configSections>
  <connectionStrings>
    <add name="Zeus" connectionString="Server=.\SQLEXPRESS2008;Database=ZeusExample;Integrated Security=True"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.3999" newVersion="2.0.1.4000"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.MicroKernel" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="1.0.3.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="1.0.3.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <globalization culture="en-GB"/>
    <httpHandlers>
      <!-- The following handler only needs to be there because Ext.NET looks for it here -->
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false"/>
    </httpHandlers>
    <httpRuntime maxRequestLength="10240"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <zeus>
    <admin name="Minimal Example" path="admin">
      <authorizedRoles>
        <add role="Administrators"/>
      </authorizedRoles>
      <installer checkInstallationStatus="false" mode="Normal"/>
      <recycleBin enabled="false"/>
      <tree tooltipsEnabled="false"/>
      <menuPlugins>
        <add name="DeleteCachedPageMenuPlugin" roles="Administrators"/>
        <add name="PageCachingMenuPlugin" roles="Administrators"/>
      </menuPlugins>
    </admin>
    <contentTypes>
      <settings>
        <contentType type="*">
          <zones>
            <add name="RecursiveSidebar" title="Recursive Sidebar"/>
            <add name="Footer" title="Footer"/>
          </zones>
        </contentType>
      </settings>
    </contentTypes>
    <customUrls>
      <parentIDs>
        <add id="158" depth="1"/>
      </parentIDs>
      <mandatoryStrings>
        <add value="moo"/>
      </mandatoryStrings>
    </customUrls>
    <database connectionStringName="Zeus" cacheEnabled="true" cacheProviderClass="NHibernate.Caches.SysCache2.SysCacheProvider, NHibernate.Caches.SysCache2"/>
    <globalization enabled="false" useBrowserLanguagePreferences="false"/>
    <host rootItemID="1">
      <sites>
        <clear/>
        <site id="DefaultSite" startPageID="5" description="Default Site">
          <siteHosts>
            <add name="*"/>
          </siteHosts>
        </site>
      </sites>
      <web extension="" rewrite="None"/>
    </host>
    <templates>
      <antiSpam>
        <akismet apiKey="bcb9b33d3e3555ff2a7477a082ccb72b" apiBaseUrl="api.antispam.typepad.com"/>
        <reCaptcha publicKey="6LesU70SAAAAABBmNW_IfCV6wLuKioC6fPJTkE-k" privateKey="6LesU70SAAAAAJcdrU0np17_TfSadyg1BkT4z-eq"/>
        <!-- tims reCaptcha publicKey="6LcCAwoAAAAAAOqqlgfquRE1IZpo7pAt-U6p_Pc9"
                   privateKey="6LcCAwoAAAAAAErm_DUklT_xUKFS1wtKb87I-pmU" /-->
      </antiSpam>
      <seo enabled="true" htmlTitleFormat="{Title} || Example Zeus Site" metaKeywordsFormat="{Title}, Example Zeus Site" metaDescriptionFormat="{Title} page for Example Zeus Site"/>
    </templates>
  </zeus>
  <soundInTheory>
    <dynamicImage>
      <caching mode="Custom" customProvider="SqliteCachingProvider" storeMissingImagesInCache="false">
        <providers>
          <add name="SqliteCachingProvider" type="SoundInTheory.DynamicImage.Caching.Sql.SqliteCacheProvider, SoundInTheory.DynamicImage.Caching.Sql"/>
        </providers>
      </caching>
      <browserCaching enabled="true"/>
    </dynamicImage>
  </soundInTheory>
  <spark>
    <compilation debug="true"/>
    <pages pageBaseType="Spark.Web.Mvc.SparkView">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="Microsoft.Web.Mvc"/>
        <add namespace="Zeus.Web.Mvc.Html"/>
        <add namespace="Zeus.Templates.Mvc.Html"/>
      </namespaces>
    </pages>
  </spark>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="MVC" path="*" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="FileHandler" preCondition="integratedMode" verb="GET" path="File.axd" type="Zeus.Web.Handlers.FileHandler, Zeus"/>
      <add name="PostedFileUploadHandler" preCondition="integratedMode" verb="POST" path="PostedFileUpload.axd" type="Zeus.Web.Handlers.PostedFileUploadHandler, Zeus"/>
      <add name="GoogleSiteMapHandler" preCondition="integratedMode" verb="GET" path="GoogleSiteMap.axd" type="Zeus.Web.Handlers.GoogleSiteMapHandler, Zeus"/>
      <add name="CacheHandler" preCondition="integratedMode" verb="GET" path="Cache.axd" type="Zeus.Web.Handlers.CacheHandler, Zeus"/>
      <add name="ResourceHandler" path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler, Ext.Net"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net"/>
      <add name="AuthenticationModule" type="Zeus.Web.Security.AuthenticationModule, Zeus"/>
      <add name="AuthorizationModule" type="Zeus.Web.Security.AuthorizationModule, Zeus"/>
      <add name="DynamicImageModule" type="SoundInTheory.DynamicImage.DynamicImageModule, SoundInTheory.DynamicImage"/>
    </modules>
  </system.webServer>
</configuration>