<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<include uri="assembly://Zeus/Admin/admin.castle.config"/>
	<include uri="assembly://Zeus/ContentTypes/contentTypes.castle.config"/>
	<include uri="assembly://Zeus/Persistence/persistence.castle.config"/>
	<include uri="assembly://Zeus/Web/web.castle.config"/>
</castle>