<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<components>
		<component id="zeus.securityEnforcer" service="Zeus.Security.ISecurityEnforcer, Zeus" type="Zeus.Security.SecurityEnforcer, Zeus"/>
		<component id="zeus.securityManager" service="Zeus.Security.ISecurityManager, Zeus" type="Zeus.Security.SecurityManager, Zeus"/>
	</components>
</castle>