<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<components>
		<component id="zeus.contentTypeBuilder"        service="Zeus.ContentTypes.IContentTypeBuilder, Zeus" type="Zeus.ContentTypes.ContentTypeBuilder, Zeus"/>
		<component id="zeus.contentTypeManager"        service="Zeus.ContentTypes.IContentTypeManager, Zeus" type="Zeus.ContentTypes.ContentTypeManager, Zeus"/>
	</components>
</castle>