body
{
	font: normal 12px arial, tahoma, helvetica, sans-serif;
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
}

/* Tree */

.simpleTree
{
	margin:0;
	padding:0;
}

.simpleTree li
{
	list-style: none;
	margin:0;
	padding:0 0 0 18px;
	line-height: 14px;
}

.simpleTree li span
{
	display:inline;
	clear: left;
	white-space: nowrap;
}

.simpleTree ul
{
	margin:0; 
	padding:0;
}

.simpleTree .root
{
	margin-left:-16px;
}

.simpleTree .line
{
	margin:0 0 0 0px;
	padding:0;
	line-height: 3px;
	height:3px;
	font-size:3px;
	background: url(../images/tree/line_bg.gif) 0 0 no-repeat transparent;
}

.simpleTree .line-last
{
	margin:0 0 0 0px;
	padding:0;
	line-height: 3px;
	height:3px;
	font-size:3px;
	background: url(../images/tree/spacer.gif) 0 0 no-repeat transparent;
}

.simpleTree .line-over
{
	margin:0 0 0 0px;
	padding:0;
	line-height: 3px;
	height:3px;
	font-size:3px;
	background: url(../images/tree/line_bg_over.gif) 0 0 no-repeat transparent;
}

.simpleTree .line-over-last
{
	margin:0 0 0 0px;
	padding:0;
	line-height: 3px;
	height:3px;
	font-size:3px;
	background: url(../images/tree/line_bg_over_last.gif) 0 0 no-repeat transparent;
}

.simpleTree .folder-open
{
	margin-left:0px;
	background: url(../images/tree/collapsable.gif) 0 -2px no-repeat #fff;
}

.simpleTree .folder-open-last
{
	margin-left:0;
	background: url(../images/tree/collapsable-last.gif) 0 -2px no-repeat #fff;
}

.simpleTree .folder-close
{
	margin-left:0;
	background: url(../images/tree/expandable.gif) 0 -2px no-repeat #fff;
}

.simpleTree .folder-close-last
{
	margin-left:0;
	background: url(../images/tree/expandable-last.gif) 0 -2px no-repeat #fff;
}

.simpleTree .doc
{
	margin-left:0;
	background: url(../images/tree/leaf.gif) 0 -1px no-repeat #fff;
}

.simpleTree .doc-last
{
	margin-left:0;
	background: url(../images/tree/leaf-last.gif) 0 -1px no-repeat #fff;
}

.simpleTree .ajax
{
	background: url(../images/tree/spinner.gif) no-repeat 0 0 #ffffff;
	height: 16px;
	display:none;
}

.simpleTree .ajax li
{
	display:none;
	margin:0; 
	padding:0;
}

.simpleTree .trigger
{
	display:inline;
	margin-left:-16px;
	width: 12px;
	height: 11px;
	cursor:pointer;
}

.simpleTree .text
{
	cursor: default;
}

.simpleTree .active
{
	font-weight: bold;
	cursor: default;
	border: dotted 1px #CCCCCC;
	padding: 1px;
}

.simpleTree a
{
	text-decoration: none;
	margin-left: 2px;
}

.simpleTree .active a
{
	margin-left: 0;
}

.simpleTree a img
{
	border: none;
	padding-right: 2px;
	vertical-align: middle;
}

#drag_container
{
	background:#ffffff;
	color:#000;
	font: normal 11px arial, tahoma, helvetica, sans-serif;
	border: 1px dashed #767676;
}

#drag_container ul
{
	list-style: none;
	padding:0;
	margin:0;
}

#drag_container li
{
	list-style: none;
	background-color:#ffffff;
	line-height:18px;
	white-space: nowrap;
	padding:1px 1px 0px 16px;
	margin:0;
}

#drag_container li span
{
	padding:0;
}

#drag_container li.doc, #drag_container li.doc-last
{
	background: url(../images/tree/leaf.gif) no-repeat -17px 0 #ffffff;
}
#drag_container .folder-close, #drag_container .folder-close-last
{
	background: url(../images/tree/expandable.gif) no-repeat -17px 0 #ffffff;
}

#drag_container .folder-open, #drag_container .folder-open-last
{
	background: url(../images/tree/collapsable.gif) no-repeat -17px 0 #ffffff;
}

div#outerContainer
{
	height:auto !important;
	min-height:100%;
	width: 100%;
}

div#container, div#languages
{
	margin: 5px;
	
}

div#languages
{
	bottom:20px;
	position:absolute;
	
}

/* Accordion */

div#container
{
	padding-bottom: 50px;
}

/* Context menu */

.contextMenu {
	position: absolute;
	width: 135px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: #FFFFFF;
	padding: 0px;
	margin: 0px;
	display: none;
	font-size: 11px;
}

.contextMenu LI {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.contextMenu A {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
}

.contextMenu LI.hover A {
	color: #FFF;
	background-color: #3399FF;
}

.contextMenu LI.disabled A {
	color: #AAA;
	cursor: default;
}

.contextMenu LI.hover.disabled A {
	background-color: transparent;
}

.contextMenu LI.separator {
	border-top: solid 1px #CCC;
}

.notAvailableInSelectedLanguage
{
	font-style: italic;
}

.day { color:#393; }
.week { color:#363; }
.invisible{ color:#999;}
.unpublished,
.expired,
.locked { color:#C66; }

.locked { padding-right:16px; background:transparent url(../images/icons/bullet_key.png) no-repeat 100% 50%; }
.unpublished { padding-right:16px; background:transparent url(../images/icons/bullet_arrow_down.png) no-repeat 100% 50%; }
.expired { padding-right:16px; background:transparent url(../images/icons/bullet_arrow_bottom.png) no-repeat 100% 50%; }