<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" />
  <package id="PayPalCoreSDK" version="1.7.1" targetFramework="net40" />
  <package id="Spark" version="1.6" targetFramework="net40" />
  <package id="Spark.Web.Mvc3" version="1.6" targetFramework="net40" />
  <package id="WebActivator" version="1.4.1" targetFramework="net40" />
</packages>