<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<sectionGroup name="zeus" type="Zeus.Configuration.ZeusSectionGroup, Zeus">
			<section name="admin" type="Zeus.Configuration.AdminSection, Zeus" requirePermission="false" />
			<section name="contentTypes" type="Zeus.Configuration.ContentTypesSection, Zeus" requirePermission="false" />
			<section name="database" type="Zeus.Configuration.DatabaseSection, Zeus" requirePermission="false" />
			<section name="globalization" type="Zeus.Configuration.GlobalizationSection, Zeus" requirePermission="false" />
			<section name="host" type="Zeus.Configuration.HostSection, Zeus" requirePermission="false" />
			<section name="templates" type="Zeus.Templates.Configuration.TemplatesSection, Zeus.Templates, Version=0.4.*, Culture=neutral" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="soundInTheory">
			<section name="dynamicImage" type="SoundInTheory.DynamicImage.Configuration.DynamicImageSection, SoundInTheory.DynamicImage" />
		</sectionGroup>
		<section name="spark" type="Spark.Configuration.SparkSectionHandler, Spark"/>
	</configSections>
	<connectionStrings>
		<add name="Zeus" connectionString="Server=.\SQLEXPRESS2008;Database=NotYetSpecified;Integrated Security=True" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.1.3999" newVersion="2.0.1.4000" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.MicroKernel" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="1.0.3.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="1.0.3.0" newVersion="1.1.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="localhost" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<authentication mode="None" />
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<customErrors mode="Off" />
		<globalization culture="en-GB" />
		<httpRuntime maxRequestLength="10240" />
		<pages validateRequest="false" pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="mvc" namespace="System.Web.Mvc" assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="zeus" namespace="Zeus.Web.UI.WebControls" assembly="Zeus" />
			</controls>
			<namespaces>
				<add namespace="System.Linq" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
			</namespaces>
		</pages>
		<sessionState mode="InProc" />
		<trace enabled="true" pageOutput="false" requestLimit="1000"/>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<soundInTheory>
		<dynamicImage>
			<caching mode="Custom" customProvider="SqliteCacheProvider">
				<providers>
					<add name="SqliteCacheProvider" type="SoundInTheory.DynamicImage.Caching.Sql.SqliteCacheProvider, SoundInTheory.DynamicImage.Caching.Sql"/>
				</providers>
			</caching>
		</dynamicImage>
	</soundInTheory>
	<zeus>
		<admin name="ProjectName" path="admin">
			<authorizedRoles>
				<add role="Administrators" />
				<add role="Editors" />
			</authorizedRoles>
			<installer checkInstallationStatus="true" mode="Install" />
			<recycleBin enabled="false" />
			<tree tooltipsEnabled="false" />
		</admin>
		<contentTypes>
			<rules />
			<!-- Uncomment the following section to customise zones -->
			<!--settings>
				<contentType type="*">
					<zones>
						<add name="RecursiveFooter" title="Recursive Footer" />
					</zones>
				</contentType>
				<contentType type="Zeus.Templates.ContentTypes.StartPage, Zeus.Templates">
					<zones>
						<add name="HomeTop" title="Home Top" />
						<add name="HomeLeft" title="Home Left" />
						<add name="HomeRight" title="Home Right" />
					</zones>
				</contentType>
			</settings-->
		</contentTypes>
		<database connectionStringName="Zeus" cacheEnabled="true" cacheProviderClass="NHibernate.Caches.SysCache2.SysCacheProvider, NHibernate.Caches.SysCache2" />
		<globalization enabled="false" useBrowserLanguagePreferences="false" />
		<host rootItemID="1">
			<sites>
				<clear />
				<site id="DefaultSite" startPageID="5" description="Default Site">
					<siteHosts>
						<add name="*" />
					</siteHosts>
				</site>
			</sites>
			<web extension="" rewrite="None" />
		</host>
		<templates>
			<seo enabled="true" htmlTitleFormat="{Title} || ProjectName"
					 metaKeywordsFormat="{Title}, ProjectName"
					 metaDescriptionFormat="{Title} page for ProjectName" />
		</templates>
	</zeus>
	<spark>
		<compilation debug="false" />
		<pages pageBaseType="Spark.Web.Mvc.SparkView">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="Zeus.Web.Mvc.Html" />
				<add namespace="Zeus.Templates.Mvc.Html" />
			</namespaces>
		</pages>
	</spark>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<add name="MVC" path="*" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<add name="FileHandler" preCondition="integratedMode" verb="GET" path="File.axd" type="Zeus.Web.Handlers.FileHandler, Zeus" />
			<add name="PostedFileUploadHandler" preCondition="integratedMode" verb="POST" path="PostedFileUpload.axd" type="Zeus.Web.Handlers.PostedFileUploadHandler, Zeus" />
			<add name="GoogleSiteMapHandler" preCondition="integratedMode" verb="GET" path="GoogleSiteMap.axd" type="Zeus.Web.Handlers.GoogleSiteMapHandler, Zeus" />
			<add name="CacheHandler" preCondition="integratedMode" verb="GET" path="Cache.axd" type="Zeus.Web.Handlers.CacheHandler, Zeus" />
		</handlers>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="ScriptModule" />
			<remove name="UrlRoutingModule" />
			<add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="AuthenticationModule" type="Zeus.Web.Security.AuthenticationModule, Zeus" />
			<add name="AuthorizationModule" type="Zeus.Web.Security.AuthorizationModule, Zeus" />
			<add name="DynamicImageModule" type="SoundInTheory.DynamicImage.DynamicImageModule, SoundInTheory.DynamicImage" />
		</modules>
	</system.webServer>
</configuration>