<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="protx.com">
			<section name="vspConfig" type="Protx.Vsp.VspConfigurationHandler, Protx.Vsp" />
		</sectionGroup>
	</configSections>
	<protx.com>
		<vspConfig
			vendor="sitdap"
			password="ovtr69ar"
			timeout="300"
			mode="simulator">
			<servers>
				<clear/>
				<add
					Name = "simulator"
					VspFormURL		= "https://ukvpstest.protx.com/VSPSimulator/VSPFormGateway.asp"
					VspServerURL	= "https://ukvpstest.protx.com/VSPSimulator/VSPServerGateway.asp"
					VspDirectURL	= "https://ukvpstest.protx.com/VSPSimulator/VSPDirectGateway.asp"
					/>
				<add
					Name = "test"
					VspFormURL		= "https://ukvpstest.protx.com/vps2form/submit.asp"
					VspServerURL	= "https://ukvpstest.protx.com/vps200/dotransaction.dll"
					VspDirectURL	= "https://ukvpstest.protx.com/VPSDirectAuth/PaymentGateway.asp"
					/>
				<add
					Name = "live"
					VspFormURL		= "https://ukvps.protx.com/vps2form/submit.asp"
					VspServerURL	= "https://ukvps.protx.com/vps200/dotransaction.dll"
					VspDirectURL	= "https://ukvps.protx.com/VPSDirectAuth/PaymentGateway.asp"
					/>
			</servers>
		</vspConfig>
	</protx.com>
</configuration>