#header {
	background-image: url(/assets/images/header.jpg);
	height: 125px;
	width: 942px;
	color: #FFFFFF;
	text-align: right;
}

#headerNavigation
{
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}

#header a {
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
}

#loginNotice strong {
	color: #FFFFFF;
}

#loginNotice {
	clear: both;
	color: #FFFFFF;
	float: right;
	margin-top: 90px;
	margin-right: 10px;
}
	
body {
	background-image: url(/assets/images/BGpage.png);
	background-repeat: repeat-y;
	text-align: center;
	margin: 0px;
	color:#333333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-position: center;
	line-height: 130%;
}

body, th, td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}

p
{
	margin-bottom: 10px;
}

#navContainer 
{
	width: 100%;
}

#subNavContainer {
	clear: both;
	float: left;
	width: 160px;
	margin-top: 1px;
	margin-right: 1px;
	line-height: 170%;
	min-height: 500px;
	font-weight: bold;
	border-right: dotted 1px #CCCCCC;
	padding: 10px;
	padding-top: 20px;
	text-align: right;
	color:#63B4D6;
}

#subNavContainer ul {
	padding-left: 0px;
	margin-left: 0px;
	list-style-type: none;
}

#subNavContainer ul li ul li a {
	color:#111111;
}

#subNavContainer ul li ul {
	background-color:#eeeeee;
}

#subNavContainer hr {
	color: #D4D0C8;
	background-color: #D0CED5;
}

#subNavContainer a {
	color:#666666;
	font-weight: normal;
	}

#subNavContainer h2 {
	color:#63B4D6;
	font-weight: normal;
	}


a {
	color: #38B4D6;
	text-decoration: none;
}

strong, b {
	color: #38B4D6;
}

a:hover {
	color: #38B4D6;
	text-decoration: underline;
}

h1 { 
	font-size:x-large;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color:#38B4D6;
	line-height: 100%;
	margin: 0;
	margin-bottom: 10px;
}

#content h1, h2, strong {
	color:#63B4D6;
}

h3 { 
	font-size:medium;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color:#38B4D6;
	line-height: 100%;
}

h2 { 
	font-size:large;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 100%;
	margin: 0;
	margin-bottom: 10px;
}	
	
.greyHeading { 
	font-size:x-large;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color:#D0CED5;
}

#shell {	
	width: 943px;
	padding-right: 14px;
	padding-left: 13px;
	min-height: 1000px;
	text-align: left;
	margin:0 auto;
}

#content select {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:x-small;
	width:175px;
}

#contentContainer {
	float: left;
	width: 741px;
	padding: 10px;
	padding-top: 20px;
}

hr { color:#C2EAF0;}
.floatClearLeft {
	clear: left;
	float: left;
}
.greyText {
	color: #D0CED5;
}.floatRight {
	float: right;
	margin-left: 25px;
}
.padLeft25 {
	padding-left: 30px;
	width: 225px;
}
.ampersands {
	color: #BBBBBB;
}
.storeNavItems b {
		font-size:medium;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color:#D0CED5;
	padding-top: 10px;
	padding-bottom: 5px;
	/*border: 1px solid #FF0000;*/
	display:block;
}
#myAccount h1 {
	color: #C74B29;
}
#myAccount h2 {
	color: #C74B29;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #C74B29;
	padding-bottom: 5px;
}
#myAccount a {
	color: #C74B29;
}
#myAccount ul {
	list-style-type: square;
}
#myAccount strong {
	color: #C74B29;
}
#myAccount th {
	font-weight: bold;
	text-align: left;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: double;
	border-bottom-color: #C74B29;
	color: #C74B29;
}
#myAccount td {
	text-align: left;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #C74B29;
	padding-top: 5px;
}
#myAccount  td  ul {
	text-align: left;
	margin-left: 10px;
	padding-left: 10px;
}
.searchMe{
	width: 150px;
	border: 1px solid #cccccc;
	font-weight:normal;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:x-small;
}
.mySubmit {
	width: 35px;
	border: 1px solid #cccccc;
	background-color:#eeeeee;
	font-weight: bold;
	color: #999999;
	font-size:x-small;
}

.dottedLeftBorder {
	border-left: dotted 1px #CCCCCC;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
.dottedLeftBorder ul {
	margin-left: 5px;
	padding-left: 5px;
}.dottedTopBorder {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #CCCCCC;
}
#footer {
	float: left;
	padding-top: 10px;
	color: #D4D0C8;
	width: 500px;
}
#footer a {
	font-weight: normal;
	color: #666666;
}
.sale {
	font-weight: bold;
	color: #FF0000;
}
.oldPrice {
	color: #999999;
	text-decoration: line-through;
}

#ctl00_cphContent_categoryImage, #productImage
{
	float: left;
	margin: 0 20px 20px 0;
}

.productListing td
{
	vertical-align: top;
	padding-right: 10px;
}

.productListing td.image
{
	padding-bottom: 10px;
}

.productListing td.details
{
	width: 147px;
	padding-bottom: 35px;
}

#productDetails
{
	float: left;
	width: 300px;
}

#productColours
{
	margin-top: 20px;
}

#productColours td
{
	vertical-align: middle;
}

.error
{
	color: Red;
}