#content
{
	color: #666666;
}

#content h1, #content h2, #content a, #content th, #content strong
{
	color: #C74B29;
}

#content h2
{
	border-bottom:1px dotted #C74B29;
	padding-bottom:5px;
}

#content th
{
	border-bottom:1px double #C74B29;
	padding-bottom:5px;
}

#content td
{
	border-bottom:1px dotted #C74B29;
	padding-top: 5px;
	padding-bottom: 5px;
}

#content ul
{
	list-style-type: square;
}